.Container{
    margin: 10px;
    position: relative;
}
.info{
    display: none;
    font-size: 11px;
    padding: 5px;
    color: whitesmoke;
    background: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    position: absolute;
    width: 250px;
    max-height: 250px;
    height: 250px;
    left: 50px;
    top: 20px;
    z-index: 10;
    border-radius: 15px;

}
.forImage{
    width: 200px;

}
.Movie{
    width: 100%;
    object-fit: contain;
    max-height: 300px;
    margin-right: 10px;
    transition: transform 450ms;
}
.Movie:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.forImage:hover + .info{
    display: flex;
}
.info:hover{
    display: flex;
}
.info:hover + .Movie{
    width: 100%;

}